@import url('https://fonts.googleapis.com/css2?family=Benne&family=Nunito:wght@300&family=Scope+One&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Pagina Home */

.grilla {
    display: grid;
    grid-template-columns: 0.7fr 3fr 3fr 0.7fr;
    grid-template-areas:
        "prenav prenav prenav prenav"
        "nav nav nav nav"
        "banner banner banner banner"
        ". title title ."
        ". section1 section1 ."
        "section2 section2 section2 section2"
        "footer footer footer footer";
    background-color: #faf1ea;
}

.prenav {
    grid-area: prenav;
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 4vh;
    align-items: center;
}

.prenav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: small;
}


.prenav a:hover {
    color: grey;
}

.nav {
    grid-area: nav;
    background-color: #fffaf7;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;


}

.nav a img {
    width: 180px;
    height: 40px;
    margin-left: 10px;
}

.logoCarrito {
    margin-right: 1.5rem;
    width: 28px;
    cursor: pointer;
}

.nav ul {
    display: flex;
    height: 100%;
    margin-right: 130px;
    align-items: center;
}

.nav li {
    list-style: none;
    padding: 25px;
    text-align: center;

}

.nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav li a:hover {
    color: grey;
}

.banner {
    grid-area: banner;
    background-color: white;
    display: flex;
    height: 560px;
}

.bannerText {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bannerText label {
    font-size: smaller;
    font-weight: bold;
}

.banner h1 {
    padding-top: 3rem;
    font-size: 55px;
    font-family: 'Benne', serif;
    font-weight: lighter;
    line-height: 35px;
}

.banner p {
    max-width: 85%;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
    font-weight: 100;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bannerText button {
    background-color: black;
    color: white;
    font-weight: bolder;
    width: 10rem;
    height: 3rem;
    border: none;
    cursor: pointer
}

.bannerText button:hover {
    background-color: rgb(103, 102, 111);
}

.banner img {
    height: 100%;
}

.title {
    grid-area: title;
}

.title h1 {
    font-size: 35px;
    font-family: 'Benne', serif;
    font-weight: lighter;
    padding-top: 4rem;
}

.section1 {
    grid-area: section1;
    display: flex;
}

.eachProduct {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    padding-right: 0.5rem;
}

.eachProduct h3{
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 22px;
    font-family: 'Benne', serif;
    font-weight: lighter;
    width: 90%;
    line-height: 2rem;

}

.eachProduct p {
    padding-left: 0.5rem;
    padding-bottom: 2rem;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
    font-weight: 100;
    width: 90%;
    line-height: 2rem;
}

.eachProduct img {
    width: 100%;

}

.imgPL:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.section2 {
    grid-area: section2;
    display: flex;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 10rem;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
}

.section2 img {
    height: 100%;
}

.parrafoCarrousel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 632.5px;
    background-color: white;
    align-items: center;
    justify-items: center;
}

.parrafoCarrousel h4 {
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    padding-top: 100px;
}

.parrafoCarrousel h1 {
    padding-top: 35px;
    font-size: 45px;
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Benne', serif;
    font-weight: lighter;
    line-height: 55px;
}

.parrafoCarrousel p {
    max-width: 65%;
    margin: 1rem auto;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    line-height: 30px;
    font-weight: 100;
}

.parrafoCarrousel a {
    font-size: smaller;
    margin: 1rem auto;
    padding-top: 5px;
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.parrafoCarrousel a:hover {
    color: rgb(128, 127, 127);
}


.footer {
    grid-area: footer;
    background-color: rgba(28, 27, 27, 0.994);
    color: white;
    padding-bottom: 64px;
    display: flex;
    height: 300px;
}

.firstColumn {
    width: 30%;
    padding-top: 40px;
    padding-right: 3rem;
    padding-left: 1rem;
}

.firstColumn img {
    width: 200px;
    height: 65px;
    padding-left: 0.3rem;
}

.firstColumn p {
    padding-left: 1rem;
    font-family: 'Nunito', sans-serif;
}

.listColumn {
    width: 20%;
    padding-top: 64px;
}

.listColumn h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.listColumn ul li {
    font-family: 'Nunito', sans-serif;
    list-style: none;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    font-size: 14px;
}

/* Página Gift Finder */

.grilla2 {
    background-color: #faf1ea;
}

.gfBanner {
    background-color: black;
    color: white;
    height: 250px
}

.gfBannerText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.gfBannerText label {
    font-size: smaller;
    padding-left: 3.5rem;
}

.gfBannerText h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    font-size: 68px;
    font-family: 'Benne', serif;
    font-weight: lighter;
}

.gfTitle h1 {
    font-size: 45px;
    font-family: 'Benne', serif;
    font-weight: lighter;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    width: 70%;
    line-height: 3.5rem;
}

.subtitle{
    font-size: 30px;
    font-family: 'Benne', serif;
    font-weight: lighter;
    padding-top: 2rem;
    text-align: center;

}

.occasion {
    grid-area: occasion;
    display: flex;
    justify-content: center;
}


.flavour {
    grid-area: flavour;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.gfEachOption {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

.gfEachOption img{
    width: 100px;
    height: 100px;
    border-radius: 150px;
}

.gfEachOption label {
    font-size: smaller;
    margin: 1rem auto;
    padding-top: 5px;
    font-weight: bold;
    text-decoration: underline;
}

