
.grilla2 {
    @extend %BgColor
  }
  
  .gfBanner {
    background-color: black;
    color: white;
    height: 250px;
  }
  
  .gfBannerText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  
    label {
      font-size: smaller;
      padding-left: 3.5rem;
    }
  
    h1 {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 3rem;
      font-size: 68px;
      font-family: 'Benne', serif;
      font-weight: lighter;
    }
  }
  
  .gfTitle h1 {
    font-size: 45px;
    font-family: 'Benne', serif;
    font-weight: lighter;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    width: 70%;
    line-height: 3.5rem;
  }
  
  .subtitle {
    font-size: 30px;
    font-family: 'Benne', serif;
    font-weight: lighter;
    padding-top: 2rem;
    text-align: center;
  }
  
  .occasion {
    grid-area: occasion;
    display: flex;
    justify-content: center;
  }
  
  .flavour {
    grid-area: flavour;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  }
  
  .gfEachOption {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  
    img {
      width: 100px;
      height: 100px;
      border-radius: 150px;
    }
  
    label {
      font-size: smaller;
      margin: 1rem auto;
      padding-top: 5px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  
  .gfButton {
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
  
    button {
      background-color: black;
      color: white;
      font-size: 15px;
      font-weight: bolder;
      width: 10rem;
      height: 3rem;
      border: none;
      cursor: pointer;
  
      &:hover {
        background-color: rgb(103, 102, 111);
      }
    }
  }