.grilla {
    display: grid;
    grid-template-columns: 0.7fr 3fr 3fr 0.7fr;
    grid-template-areas: "prenav prenav prenav prenav" "nav nav nav nav" "banner banner banner banner" ". title title ." ". section1 section1 ." "section2 section2 section2 section2" "footer footer footer footer";
    background-color: #faf1ea;
  }